openapi: 3.0.1
info:
  title: "Ecosyste.ms: science"
  description: "An open API service for discovering and classifying open source scientific software projects, research tools, and computational libraries across all scientific domains."
  contact:
    name: Ecosyste.ms
    email: support@ecosyste.ms
    url: https://ecosyste.ms
  version: 1.0.0
  license:
    name: CC-BY-SA-4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
externalDocs:
  description: GitHub Project
  url: https://github.com/ecosyste-ms/science
servers:
  - url: https://science.ecosyste.ms/api/v1
paths:
  /packages:
    get:
      description: List packages ranked by the number of scientific projects that directly depend on them
      operationId: getPackages
      tags:
        - packages
      parameters:
        - name: ecosystem
          in: query
          description: Filter by package ecosystem
          required: false
          schema:
            type: string
        - name: domain
          in: query
          description: Filter dependent projects by OpenAlex domain slug
          required: false
          schema:
            type: string
        - name: field
          in: query
          description: Filter dependent projects by OpenAlex field slug
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Order by direct scientific use or science relevance adjusted for general package popularity and linked repository Science Score
          required: false
          schema:
            type: string
            enum: [scientific_projects, science_relevance]
            default: scientific_projects
        - name: page
          in: query
          description: Pagination page number
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Package"
  /projects:
    get:
      description: get projects
      operationId: getProjects
      tags:
        - projects
      parameters:
        - name: reviewed
          in: query
          description: reviewed status
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          description: pagination page number
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          description: The field to sort by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: The sort order (asc or desc)
          required: false
          schema:
            type: string
            enum: [asc, desc]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
  /projects/{id}:
    get:
      description: get a project by id
      operationId: getProject
      tags:
        - projects
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: id of the project
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
  /projects/{id}/search_context:
    get:
      description: >-
        Get stored descriptions, programming languages, published packages and indexed
        direct dependencies for a visible project with a Science Score of at least 20.
        Evidence retains its source. Empty arrays mean no stored evidence was found;
        they do not establish that a project has no dependencies or packages.
        No upstream requests or dependency indexing run during this request.
      operationId: getProjectSearchContext
      tags:
        - projects
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Context for one software candidate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSearchContext"
        404:
          description: Project is missing, hidden or below the scientific eligibility threshold
  /projects/lookup:
    get:
      description: lookup project by url
      operationId: lookupProject
      tags:
        - projects
      parameters:
        - name: url
          in: query
          description: url of the project
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
  /projects/packages:
    get:
      description: get projects with packages
      operationId: getProjectPackages
      tags:
        - projects
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
  /projects/names:
    get:
      description: get unique package and project names from scientific projects
      operationId: getProjectNames
      tags:
        - projects
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /projects/search_seeds:
    get:
      description: >-
        Search seeds grouped by visible scientific project (Science Score at least 20),
        including archived projects and projects without packages. Reads stored metadata
        without fetching upstream data. Ordered by project ID. Follow the Link header
        for the next page; total counts are not returned. This is a live view, not a
        frozen dataset. The existing /projects/names response is unchanged.
      operationId: getProjectSearchSeeds
      tags:
        - projects
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of projects per page, capped at 100
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        200:
          description: Project and package seeds with provenance
          headers:
            Link:
              description: Pagination links, including rel="next" when another page exists
              schema:
                type: string
            Current-Page:
              schema:
                type: integer
            Page-Items:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectSearchSeeds"
  /projects/images:
    get:
      description: get projects with images
      operationId: getProjectImages
      tags:
        - projects
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
  /issues:
    get:
      description: get issues
      operationId: getIssues
      tags:
        - issues
      parameters:
        - name: category
          in: query
          description: Filter issues by project category
          required: false
          schema:
            type: string
        - name: language
          in: query
          description: Filter issues by programming language
          required: false
          schema:
            type: string
        - name: keyword
          in: query
          description: Filter issues by project keyword
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: pagination page number
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          description: The field to sort by
          required: false
          schema:
            type: string
            enum: [created_at, updated_at, stars]
        - name: order
          in: query
          description: The sort order (asc or desc)
          required: false
          schema:
            type: string
            enum: [asc, desc]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Issue"
components:
  schemas:
    ContextEvidence:
      type: object
      required: [value, source]
      properties:
        value:
          type: string
          description: Trimmed source text, with original case preserved
        source:
          type: string
          description: Stored metadata field supplying this value
    ProjectSearchContext:
      type: object
      required: [project_id, repository_url, updated_at, last_synced_at, descriptions, languages, packages, dependencies_indexed_at, direct_dependencies]
      properties:
        project_id:
          type: integer
        repository_url:
          type: string
        updated_at:
          type: string
          format: date-time
        last_synced_at:
          type: string
          format: date-time
          nullable: true
        descriptions:
          type: array
          items:
            $ref: "#/components/schemas/ContextEvidence"
        languages:
          type: array
          items:
            $ref: "#/components/schemas/ContextEvidence"
        packages:
          type: array
          description: >-
            Packages published by this project, grouped using the search-seed identity
            rules. Descriptions and languages belong to each package. A project-level
            dependency is not evidence that every package in this list depends on it.
          items:
            type: object
            required: [package_id, purl, registry, ecosystem, names, descriptions, languages]
            properties:
              package_id:
                type: integer
                nullable: true
              purl:
                type: string
                nullable: true
              registry:
                type: string
                nullable: true
              ecosystem:
                type: string
                nullable: true
              names:
                type: array
                items:
                  $ref: "#/components/schemas/ContextEvidence"
              descriptions:
                type: array
                items:
                  $ref: "#/components/schemas/ContextEvidence"
              languages:
                type: array
                items:
                  $ref: "#/components/schemas/ContextEvidence"
        dependencies_indexed_at:
          type: string
          format: date-time
          nullable: true
          description: Last dependency indexing time; null means indexing has not completed
        direct_dependencies:
          type: array
          description: Stored direct dependency records, including unresolved package identities
          items:
            type: object
            required: [dependency_id, package_id, name, ecosystem, purl, source, occurrences, updated_at]
            properties:
              dependency_id:
                type: integer
              package_id:
                type: integer
                nullable: true
              name:
                type: string
              ecosystem:
                type: string
              purl:
                type: string
                nullable: true
              source:
                type: string
                nullable: true
                description: Recorded dependency source, such as repos_manifests or brief
              updated_at:
                type: string
                format: date-time
              occurrences:
                type: array
                items:
                  type: object
                  properties:
                    filepath:
                      type: string
                    manifest_kind:
                      type: string
                    requirements:
                      type: string
                    kind:
                      type: string
                    optional:
                      type: boolean
    SearchSeed:
      type: object
      required: [type, value, normalized_value, source, relation]
      properties:
        type:
          type: string
          enum: [name, repository_url, homepage_url, doi]
        value:
          type: string
          description: Trimmed source value, or the DOI extracted from a source identifier
        normalized_value:
          type: string
          description: >-
            Names use Unicode NFC and lowercase without stemming or punctuation removal.
            DOIs are lowercase. URL schemes and hosts are lowercase; path case is preserved.
            Repository history URLs may already be normalized by the alias index.
        source:
          type: string
          description: Stored metadata field, for example citation_cff.preferred-citation.doi
        relation:
          type: string
          enum: [software, publication, preferred_citation, citation, reference]
          description: >-
            Relationship asserted by the source metadata, not verified evidence of a paper
            using the software. Preferred citations and BibTeX citations are kept distinct
            because they may describe software, a publication, or another resource.
    ProjectSearchSeeds:
      type: object
      required: [project_id, repository_url, science_score, updated_at, last_synced_at, seeds, packages]
      properties:
        project_id:
          type: integer
        repository_url:
          type: string
        science_score:
          type: number
        updated_at:
          type: string
          format: date-time
        last_synced_at:
          type: string
          format: date-time
          nullable: true
        seeds:
          type: array
          items:
            $ref: "#/components/schemas/SearchSeed"
        packages:
          type: array
          description: >-
            Linked registry packages and unmatched package metadata stored on the project.
            Identical names may belong to different packages or projects. Dependencies
            and incidental README references are not included as software identities.
          items:
            type: object
            required: [package_id, purl, registry, ecosystem, seeds]
            properties:
              package_id:
                type: integer
                nullable: true
                description: Local package ID; null for unmatched project package metadata
              purl:
                type: string
                nullable: true
                description: Package URL without version or subpath, when available and valid
              registry:
                type: string
                nullable: true
              ecosystem:
                type: string
                nullable: true
              seeds:
                type: array
                items:
                  $ref: "#/components/schemas/SearchSeed"
    Package:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        namespace:
          type: string
          nullable: true
        purl:
          type: string
          nullable: true
        repository_url:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        registry:
          type: object
          properties:
            name:
              type: string
            ecosystem:
              type: string
        scientific_projects_count:
          type: integer
        dependent_repositories_count:
          type: integer
          nullable: true
        dependent_repositories_top_percentage:
          type: number
          nullable: true
          description: Top percentage within the package registry; smaller values indicate greater general popularity
        average_top_percentage:
          type: number
          nullable: true
          description: Average top percentage across the available packages.ecosyste.ms rankings
        science_relevance_top_percentage:
          type: number
          nullable: true
          description: Ranking percentage used by the science relevance score after handling inconsistent upstream averages
        repository_science_score:
          type: number
          nullable: true
          description: Science Score of the project matched to the package repository
        science_relevance_score:
          type: number
          nullable: true
          description: Scientific project count weighted from 10% to 100% by package popularity, then boosted by up to 2x using linked repository Science Score
        science_usage_percentage:
          type: number
          nullable: true
          description: Scientific project count as a percentage of known dependent repositories
        rankings:
          type: object
        published_by_project:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string
              nullable: true
            repository_url:
              type: string
            api_url:
              type: string
            html_url:
              type: string
    Project:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
        last_synced_at:
          type: string
          format: date-time
        repository:
          type: object
        owner:
          type: object
        packages:
          type: array
          items:
            type: object
        commits:
          type: object
        issues:
          type: object
        events:
          type: object
        keywords:
          type: array
          items:
            type: string
        dependencies:
          type: object
        score:
          type: number
        science_score:
          type: number
          nullable: true
          minimum: 0
          maximum: 100
        science_score_breakdown:
          type: object
          nullable: true
          description: Saved evidence used to calculate the Science Score
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        avatar_url:
          type: string
        language:
          type: string
        category:
          type: string
        sub_category:
          type: string
        monthly_downloads:
          type: integer
        readme:
          type: string
        funding_links:
          type: array
          items:
            type: string
        readme_doi_urls:
          type: array
          items:
            type: string
        works:
          type: object
        citation_counts:
          type: object
        total_citations:
          type: integer
        keywords_from_contributors:
          type: array
          items:
            type: string
        fields:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              domain:
                type: string
              score:
                type: number
    Issue:
      type: object
      properties:
        uuid:
          type: integer
        number:
          type: integer
        node_id:
          type: string
        title:
          type: string
        user:
          type: string
        labels:
          type: array
          items:
            type: string
        assignees:
          type: array
          items:
            type: string
        comments_count:
          type: integer
        pull_request:
          type: boolean
        author_association:
          type: string
        state:
          type: string
        state_reason:
          type: string
        time_to_close:
          type: integer
        merged_at:
          type: string
          format: date-time
        dependency_metadata:
          type: object
        locked:
          type: boolean
        comments:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        closed_at:
          type: string
          format: date-time
        html_url:
          type: string
        url:
          type: string
    Image:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        url:
          type: string
        last_synced_at:
          type: string
          format: date-time
        repository:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        avatar_url:
          type: string
        category:
          type: string
        sub_category:
          type: string
        monthly_downloads:
          type: integer
        language:
          type: string
        has_new_issues:
          type: boolean
        readme_image_urls:
          type: array
          items:
            type: string
