openapi: 3.0.1
info:
  title: "Ecosyste.ms: science"
  description: "An open API service for discovering and classifying open source scientific software projects, research tools, and computational libraries across all scientific domains."
  contact:
    name: Ecosyste.ms
    email: support@ecosyste.ms
    url: https://ecosyste.ms
  version: 1.0.0
  license:
    name: CC-BY-SA-4.0
    url: https://creativecommons.org/licenses/by-sa/4.0/
externalDocs:
  description: GitHub Project
  url: https://github.com/ecosyste-ms/science
servers:
  - url: https://science.ecosyste.ms/api/v1
paths:
  "/research_organizations":
    get:
      operationId: getResearchOrganizations
      tags:
      - research organizations
      description: Search current ROR institutions by case-insensitive literal substring
        in names and aliases, and any recorded country. Defaults to institutions with
        confirmed visible account links. Include unlinked records to search the full
        catalogue, including inactive and withdrawn records.
      parameters:
      - name: q
        in: query
        description: Institution name or alias. SQL wildcard characters are treated
          literally.
        schema:
          type: string
          maxLength: 200
          example: JHU
      - name: country
        in: query
        description: Two-letter country code, normalized to uppercase.
        schema:
          type: string
          pattern: "^[A-Za-z]{2}$"
          example: US
      - name: include_unlinked
        in: query
        description: Include institutions without confirmed account links. Only true
          and false are accepted.
        schema:
          type: boolean
          default: false
      - "$ref": "#/components/parameters/ResearchOrganizationPage"
      - "$ref": "#/components/parameters/ResearchOrganizationPerPage"
      responses:
        '200':
          description: Recorded results; no imports or matching jobs are triggered by
            the request.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ResearchOrganizationSummary"
          headers:
            total-count:
              "$ref": "#/components/headers/ResearchOrganizationTotalCount"
            current-page:
              "$ref": "#/components/headers/ResearchOrganizationCurrentPage"
            page-items:
              "$ref": "#/components/headers/ResearchOrganizationPageItems"
            total-pages:
              "$ref": "#/components/headers/ResearchOrganizationTotalPages"
            link:
              "$ref": "#/components/headers/ResearchOrganizationLink"
        '400':
          "$ref": "#/components/responses/ResearchOrganizationInvalidParameters"
  "/research_organizations/accounts":
    get:
      operationId: getInstitutionalAccounts
      tags:
      - research organizations
      description: Legacy institutional-domain account browse. Includes visible organization
        accounts classified by institutional domain, even when no confirmed ROR link
        is recorded.
      parameters:
      - "$ref": "#/components/parameters/ResearchOrganizationPage"
      - "$ref": "#/components/parameters/ResearchOrganizationPerPage"
      responses:
        '200':
          description: Recorded results; no imports or matching jobs are triggered by
            the request.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ResearchOrganizationAccount"
          headers:
            total-count:
              "$ref": "#/components/headers/ResearchOrganizationTotalCount"
            current-page:
              "$ref": "#/components/headers/ResearchOrganizationCurrentPage"
            page-items:
              "$ref": "#/components/headers/ResearchOrganizationPageItems"
            total-pages:
              "$ref": "#/components/headers/ResearchOrganizationTotalPages"
            link:
              "$ref": "#/components/headers/ResearchOrganizationLink"
        '400':
          "$ref": "#/components/responses/ResearchOrganizationInvalidParameters"
  "/research_organizations/{id}":
    get:
      operationId: getResearchOrganization
      tags:
      - research organizations
      description: Institution metadata, source freshness and coverage counts. Earlier
        records retained after a ROR release remain accessible with source.current false.
        Account links establish repository ownership; they do not establish institutional
        authorship.
      parameters:
      - "$ref": "#/components/parameters/ResearchOrganizationId"
      - "$ref": "#/components/parameters/ResearchOrganizationIncludeDescendants"
      responses:
        '200':
          description: Recorded results; no imports or matching jobs are triggered by
            the request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ResearchOrganizationProfile"
        '400':
          "$ref": "#/components/responses/ResearchOrganizationInvalidParameters"
        '404':
          description: No published organization with this ROR identifier.
  "/research_organizations/{id}/owners":
    get:
      operationId: getResearchOrganizationOwners
      tags:
      - research organizations
      description: Confirmed visible forge accounts with matching evidence. Ambiguous,
        rejected and superseded links are excluded. With descendants enabled, evidence
        is restricted to the selected institutions.
      parameters:
      - "$ref": "#/components/parameters/ResearchOrganizationId"
      - "$ref": "#/components/parameters/ResearchOrganizationIncludeDescendants"
      - "$ref": "#/components/parameters/ResearchOrganizationPage"
      - "$ref": "#/components/parameters/ResearchOrganizationPerPage"
      responses:
        '200':
          description: Recorded results; no imports or matching jobs are triggered by
            the request.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ResearchOrganizationAccount"
          headers:
            total-count:
              "$ref": "#/components/headers/ResearchOrganizationTotalCount"
            current-page:
              "$ref": "#/components/headers/ResearchOrganizationCurrentPage"
            page-items:
              "$ref": "#/components/headers/ResearchOrganizationPageItems"
            total-pages:
              "$ref": "#/components/headers/ResearchOrganizationTotalPages"
            link:
              "$ref": "#/components/headers/ResearchOrganizationLink"
        '400':
          "$ref": "#/components/responses/ResearchOrganizationInvalidParameters"
        '404':
          description: No published organization with this ROR identifier.
  "/research_organizations/{id}/projects":
    get:
      operationId: getResearchOrganizationProjects
      tags:
      - research organizations
      description: Visible projects owned by confirmed accounts with science_score at
        least 20, ordered by descending science_score then project ID. This scope does
        not include projects solely through contributor affiliation or dependencies.
      parameters:
      - "$ref": "#/components/parameters/ResearchOrganizationId"
      - "$ref": "#/components/parameters/ResearchOrganizationIncludeDescendants"
      - "$ref": "#/components/parameters/ResearchOrganizationPage"
      - "$ref": "#/components/parameters/ResearchOrganizationPerPage"
      responses:
        '200':
          description: Recorded results; no imports or matching jobs are triggered by
            the request.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/Project"
          headers:
            total-count:
              "$ref": "#/components/headers/ResearchOrganizationTotalCount"
            current-page:
              "$ref": "#/components/headers/ResearchOrganizationCurrentPage"
            page-items:
              "$ref": "#/components/headers/ResearchOrganizationPageItems"
            total-pages:
              "$ref": "#/components/headers/ResearchOrganizationTotalPages"
            link:
              "$ref": "#/components/headers/ResearchOrganizationLink"
        '400':
          "$ref": "#/components/responses/ResearchOrganizationInvalidParameters"
        '404':
          description: No published organization with this ROR identifier.
  "/research_organizations/{id}/packages":
    get:
      operationId: getResearchOrganizationPackages
      tags:
      - research organizations
      description: Packages associated through published_by_project with scientific
        projects owned by confirmed accounts. The account association does not establish
        institutional publishing credit.
      parameters:
      - "$ref": "#/components/parameters/ResearchOrganizationId"
      - "$ref": "#/components/parameters/ResearchOrganizationIncludeDescendants"
      - "$ref": "#/components/parameters/ResearchOrganizationPage"
      - "$ref": "#/components/parameters/ResearchOrganizationPerPage"
      responses:
        '200':
          description: Recorded results; no imports or matching jobs are triggered by
            the request.
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/ResearchOrganizationPackage"
          headers:
            total-count:
              "$ref": "#/components/headers/ResearchOrganizationTotalCount"
            current-page:
              "$ref": "#/components/headers/ResearchOrganizationCurrentPage"
            page-items:
              "$ref": "#/components/headers/ResearchOrganizationPageItems"
            total-pages:
              "$ref": "#/components/headers/ResearchOrganizationTotalPages"
            link:
              "$ref": "#/components/headers/ResearchOrganizationLink"
        '400':
          "$ref": "#/components/responses/ResearchOrganizationInvalidParameters"
        '404':
          description: No published organization with this ROR identifier.
  /swhids:
    get:
      description: Software Heritage coverage among eligible science projects, archival requests, imports, and distinct confirmed contributions across all recorded projects. Refreshed every six hours; requests only read the last stored snapshot.
      operationId: getSwhidStats
      tags: [swhids]
      responses:
        200:
          description: Last stored snapshot, which may be older than six hours if a refresh fails
          content:
            application/json:
              schema:
                type: object
                properties:
                  updated_at:
                    type: string
                    format: date-time
                  eligible_projects:
                    type: integer
                  repository_coverage:
                    type: object
                    additionalProperties:
                      type: integer
                    example: {archived: 10, not_found: 2, unknown: 1, unchecked: 3}
                  submitted_projects:
                    type: object
                    additionalProperties:
                      type: integer
                    example: {missing_versions: 2, missing_repository: 1, unknown: 0}
                  imported_projects:
                    type: object
                    additionalProperties:
                      type: integer
                    example: {missing_versions: 1, missing_repository: 1, unknown: 0}
                  submission_evidence:
                    type: object
                    additionalProperties:
                      type: integer
                    example: {pre_submission: 2, visit_history: 1}
                  contributions:
                    type: object
                    properties:
                      total:
                        type: integer
                      revisions:
                        type: integer
                      directories:
                        type: integer
        503:
          description: No stored snapshot is available yet
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
  /software/lookup:
    get:
      description: Exact normalized software name or identifier lookup, with matching seed evidence grouped by visible scientific project. Read-only; index updates are asynchronous.
      operationId: lookupSoftware
      tags: [software]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 2000
        - name: kind
          in: query
          schema:
            type: string
            enum: [name, doi, repository_url, homepage_url, purl]
            default: name
        - $ref: "#/components/parameters/SoftwareLimit"
        - $ref: "#/components/parameters/SoftwareAfterId"
      responses:
        200:
          description: Matching projects in project ID order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareResults"
        400:
          description: Invalid query, kind, limit, cursor or identifier
  /software/search:
    get:
      description: Literal case-insensitive substring search over software names, including aliases and package names. Read-only; no relevance or confidence ranking.
      operationId: searchSoftware
      tags: [software]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            minLength: 3
            maxLength: 2000
        - $ref: "#/components/parameters/SoftwareLimit"
        - $ref: "#/components/parameters/SoftwareAfterId"
      responses:
        200:
          description: Matching projects in project ID order
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SoftwareResults"
        400:
          description: Invalid query, limit or cursor
  /packages/bulk_lookup:
    post:
      operationId: bulkLookupPackages
      tags: [packages]
      description: >-
        Read-only lookup of stored packages, including packages outside the ranked listing.
        Versions and subpaths are ignored using the stored PURL normalization rules;
        qualifiers are retained. Duplicate inputs return one record. Unknown PURLs
        are omitted, and no matches returns an empty array. Stored packages without
        direct scientific dependencies have scientific_projects_count zero.
        This endpoint does not create packages or schedule synchronization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [purls]
              properties:
                purls:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: {type: string, maxLength: 2000}
      responses:
        200:
          description: All matching stored packages, ordered by ID
          content:
            application/json:
              schema:
                type: array
                items: {$ref: "#/components/schemas/Package"}
        400:
          description: Invalid PURL or request bounds
  /packages:
    get:
      description: List packages ranked by the number of scientific projects that directly depend on them
      operationId: getPackages
      tags:
        - packages
      parameters:
        - name: ecosystem
          in: query
          description: Filter by package ecosystem
          required: false
          schema:
            type: string
        - name: domain
          in: query
          description: Filter dependent projects by OpenAlex domain slug
          required: false
          schema:
            type: string
        - name: field
          in: query
          description: Filter dependent projects by OpenAlex field slug
          required: false
          schema:
            type: string
        - name: sort
          in: query
          description: Order by direct scientific use or science relevance adjusted for general package popularity and linked repository Science Score
          required: false
          schema:
            type: string
            enum: [scientific_projects, science_relevance]
            default: scientific_projects
        - name: page
          in: query
          description: Pagination page number
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Package"
  /projects/bulk_lookup:
    post:
      operationId: bulkLookupProjects
      tags: [projects]
      description: >-
        Read-only lookup of visible stored projects by normalized repository URL or
        indexed repository alias. Uses the service's repository URL normalization.
        Previous names must have been indexed by the repository alias indexer.
        Returns one result per input, in input order, with every matching project
        and its matching source. An empty matches array means no stored match;
        it does not establish absence of scientific use. No projects are created
        and no synchronization jobs are scheduled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [repository_urls]
              properties:
                repository_urls:
                  type: array
                  minItems: 1
                  maxItems: 100
                  items: {type: string, maxLength: 2000}
      responses:
        200:
          description: Input URLs with normalized URLs and arrays of matches
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    input_url: {type: string}
                    normalized_url: {type: string}
                    matches:
                      type: array
                      items:
                        type: object
                        properties:
                          source: {type: string, enum: [project.url, repository_alias]}
                          project:
                            type: object
                            properties:
                              id: {type: integer}
                              name: {type: string, nullable: true}
                              url: {type: string}
                              science_score: {type: number, nullable: true}
                              last_synced_at: {type: string, format: date-time, nullable: true}
        400:
          description: Invalid repository URL or request bounds
  /projects/{id}/external_identifiers:
    get:
      operationId: getProjectExternalIdentifiers
      tags: [projects]
      description: >-
        Read cached external software identifiers and source-code repository relationships
        for a visible project. Ambiguous candidates are retained. Metadata contains the
        original source record, including Wikidata claims, bio.tools annotations, ASCL, swMATH or RRID metadata.
        For the doi scheme, metadata contains the normalized doi, the DataCite resource under datacite
        and, when available, a Zenodo record under zenodo. Individual release DOIs remain separate;
        concept_identifier records their version family. Missing or
        failed source refreshes retain the last successful evidence and retrieval date.
        An empty list does not establish absence from external sources. No source requests,
        project writes or job scheduling occur during this request.
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: integer}
        - name: page
          in: query
          schema: {type: integer, minimum: 1}
        - name: per_page
          in: query
          schema: {type: integer, minimum: 1, maximum: 100, default: 100}
      responses:
        200:
          description: Stored identifiers and their original source records
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: {type: integer}
                    scheme: {type: string, example: wikidata}
                    identifier: {type: string, example: Q5971368}
                    concept_identifier: {type: string, nullable: true, description: Concept or parent DOI used to group a confirmed version family}
                    record_url: {type: string, format: uri, nullable: true, example: 'https://www.wikidata.org/wiki/Q5971368'}
                    relationship: {type: string, example: source_code_repository, description: 'Source-code repository relationship, or software, software_version or software_concept for DOI records'}
                    match_status: {type: string, enum: [matched, ambiguous]}
                    source_status: {type: string, enum: [pending, ok, missing, error]}
                    retrieved_at: {type: string, format: date-time, nullable: true}
                    attempted_at: {type: string, format: date-time, nullable: true}
                    next_refresh_at: {type: string, format: date-time}
                    last_error: {type: string, nullable: true}
                    collection_url: {type: string, format: uri, nullable: true, description: Retrieval endpoint for the cached source record}
                    evidence:
                      type: array
                      items:
                        type: object
                        properties:
                          statement_id: {type: string}
                          repository_url: {type: string}
                          normalized_url: {type: string}
                          normalized_doi: {type: string}
                          source_relation: {type: string, description: Relationship stated by the original source}
                          rank: {type: string, enum: [normal, preferred]}
                          source_field: {type: string, example: link}
                          source_type: {type: string, example: Repository}
                          source_url: {type: string, format: uri, description: Original URL before a documented transformation}
                          url_transformation: {type: string, example: github_pages}
                          collection_url: {type: string, format: uri, example: 'https://ascl.net/code/json'}
                          source_record_url: {type: string, format: uri, example: 'https://scicrunch.org/resolver/SCR_015687'}
                          source_license: {type: string, example: CC-BY-SA-4.0}
                          match_method: {type: string, enum: [project.url, repository_alias, software_doi]}
                          ambiguous: {type: boolean}
                    metadata: {type: object, additionalProperties: true}
        404:
          description: Project missing or hidden
  /projects/{id}/swhids:
    get:
      operationId: getProjectSwhids
      tags: [projects, swhids]
      description: >-
        Read stored revision, directory, ancestor and repository-origin coverage for a visible
        project. Each observation retains its own timestamp. Unchecked, missing and
        error states remain distinct. This endpoint performs no archive requests,
        cloning or job scheduling. Object presence does not verify byte retrieval.
        Local filesystem paths and commands are excluded.
      parameters:
        - name: id
          in: path
          required: true
          schema: {type: integer}
      responses:
        200:
          description: Stored typed objects and origin visit evidence
          content:
            application/json:
              schema:
                type: object
                properties:
                  project_id: {type: integer}
                  repository_url: {type: string}
                  status: {type: string}
                  observed_commit: {type: string, nullable: true}
                  attempted_at: {type: string, format: date-time, nullable: true}
                  objects: {type: array, items: {type: object}}
                  history_archive:
                    type: object
                    description: Optional ancestor search pinned to starting_commit. Archived ancestors do not change current-commit coverage.
                    properties:
                      status: {type: string, enum: [unchecked, incomplete, complete, unsupported]}
                      starting_commit: {type: string}
                      complete:
                        type: boolean
                        description: All ancestors were enumerated and every enumerated revision has a successful archive lookup.
                      history_complete:
                        type: boolean
                        description: Git history was exhausted without a shallow boundary or identifier limit; API lookups may still be pending.
                      depth:
                        type: integer
                        description: Requested depth of the last successful fetch, including starting_commit. This is not a count of inspected ancestors.
                      checked_count: {type: integer}
                      attempted_at: {type: string, format: date-time}
                      checked_at:
                        type: string
                        format: date-time
                        description: Last saved progress update. Each revision retains its own lookup date.
                      reason:
                        type: string
                        enum: [pending_checks, shallow_history, depth_limit, identifier_limit, fetch_failed, api_error, unsupported_object_format]
                      revisions:
                        type: array
                        description: Inspected ancestors, excluding starting_commit. Missing entries do not establish absence from the archive.
                        items:
                          type: object
                          properties:
                            swhid: {type: string}
                            archive:
                              type: object
                              properties:
                                status: {type: string, enum: [unchecked, archived, not_found, error]}
                                checked_at: {type: string, format: date-time}
                                attempted_at: {type: string, format: date-time}
                                retry_at: {type: string, format: date-time}
                  origin_archive:
                    type: object
                    properties:
                      status: {type: string, enum: [unchecked, unknown, archived, not_found]}
                      checked_at:
                        type: string
                        format: date-time
                        description: Last saved batch; individual observations can be older.
                      retry_at: {type: string, format: date-time}
                      origins: {type: array, items: {type: string}}
                      repository_url:
                        type: string
                        description: Stored repository URL when these origin roles were assigned.
                      current_origins:
                        type: array
                        items: {type: string}
                        description: Candidates matching repository_url, including candidates not yet checked.
                      freshness_complete:
                        type: boolean
                        description: Every candidate has a checked latest attempt and latest snapshot-bearing visit, or a completed negative lookup. Observation dates can differ.
                      freshness_retry_at: {type: string, format: date-time}
                      complete:
                        type: boolean
                        description: Every candidate has a completed lookup. Older records may omit this field.
                      unchecked_origins:
                        type: array
                        items: {type: string}
                        description: Candidate URLs with no saved attempt. An archived result can still have unchecked URLs.
                      observations:
                        type: array
                        items:
                          type: object
                          properties:
                            origin: {type: string}
                            origin_role:
                              type: string
                              enum: [current, other]
                              description: Whether this origin matches the repository URL recorded for this batch; other includes former URLs and candidates.
                            status: {type: string, enum: [unknown, archived, not_found]}
                            visit:
                              type: object
                              description: Latest observed full or partial visit with a snapshot. Its date is an archive visit date, not a source commit or ingestion date.
                              properties:
                                origin: {type: string}
                                date: {type: string, format: date-time}
                                visit: {type: integer}
                                snapshot: {type: string}
                                status: {type: string, enum: [full, partial]}
                                type: {type: string}
                            latest_attempt:
                              type: object
                              description: Latest observed archive visit, including failed, ongoing and snapshotless attempts. It is specific to this origin.
                              properties:
                                origin: {type: string}
                                date: {type: string, format: date-time}
                                visit: {type: integer}
                                snapshot: {type: string, nullable: true}
                                status: {type: string, enum: [created, ongoing, full, partial, not_found, failed]}
                                type: {type: string}
                            latest_attempt_checked_at:
                              type: string
                              format: date-time
                              description: When the first visit-history page was last read successfully. Retained during pagination and failed refreshes.
                            freshness_complete:
                              type: boolean
                              description: History was checked from its first page through the newest snapshot, or to its end if none was found. Older pages can remain unread.
                            prior_visit: {type: object}
                            checked_at:
                              type: string
                              format: date-time
                              description: Last completed lookup for this URL; retained if a later attempt fails.
                            attempted_at: {type: string, format: date-time}
                            lookup_complete:
                              type: boolean
                              description: The latest attempt found sufficient coverage or exhausted visit history.
                            history_complete:
                              type: boolean
                              description: The latest lookup reached the end of visit history, rather than stopping at a snapshot or a limit.
                            next_visit:
                              type: string
                              description: Saved last_visit cursor for the next history page.
                            history_cutoff:
                              type: string
                              format: date-time
                              nullable: true
                              description: Submission time used when searching for pre-submission snapshots.
                  bytes_verified: {type: boolean}
        404:
          description: Project not found or hidden
  /projects:
    get:
      description: get projects
      operationId: getProjects
      tags:
        - projects
      parameters:
        - name: reviewed
          in: query
          description: reviewed status
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          description: pagination page number
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          description: The field to sort by
          required: false
          schema:
            type: string
        - name: order
          in: query
          description: The sort order (asc or desc)
          required: false
          schema:
            type: string
            enum: [asc, desc]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
  /projects/{id}:
    get:
      description: get a project by id
      operationId: getProject
      tags:
        - projects
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
          description: id of the project
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
  /projects/{id}/search_context:
    get:
      description: >-
        Get stored descriptions, programming languages, published packages and indexed
        direct dependencies for a visible project with a Science Score of at least 20.
        Evidence retains its source. Empty arrays mean no stored evidence was found;
        they do not establish that a project has no dependencies or packages.
        No upstream requests or dependency indexing run during this request.
      operationId: getProjectSearchContext
      tags:
        - projects
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Context for one software candidate
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSearchContext"
        404:
          description: Project is missing, hidden or below the scientific eligibility threshold
  /projects/lookup:
    get:
      description: lookup project by url
      operationId: lookupProject
      tags:
        - projects
      parameters:
        - name: url
          in: query
          description: url of the project
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
  /projects/packages:
    get:
      description: get projects with packages
      operationId: getProjectPackages
      tags:
        - projects
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
  /projects/names:
    get:
      description: get unique package and project names from scientific projects
      operationId: getProjectNames
      tags:
        - projects
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
  /projects/search_seeds:
    get:
      description: >-
        Search seeds grouped by visible scientific project (Science Score at least 20),
        including archived projects and projects without packages. Reads stored metadata
        without fetching upstream data. Ordered by project ID. Follow the Link header
        for the next page; total counts are not returned. This is a live view, not a
        frozen dataset. The existing /projects/names response is unchanged.
      operationId: getProjectSearchSeeds
      tags:
        - projects
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: per_page
          in: query
          description: Number of projects per page, capped at 100
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
      responses:
        200:
          description: Project and package seeds with provenance
          headers:
            Link:
              description: Pagination links, including rel="next" when another page exists
              schema:
                type: string
            Current-Page:
              schema:
                type: integer
            Page-Items:
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ProjectSearchSeeds"
  /projects/images:
    get:
      description: get projects with images
      operationId: getProjectImages
      tags:
        - projects
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Project"
  /issues:
    get:
      description: get issues
      operationId: getIssues
      tags:
        - issues
      parameters:
        - name: category
          in: query
          description: Filter issues by project category
          required: false
          schema:
            type: string
        - name: language
          in: query
          description: Filter issues by programming language
          required: false
          schema:
            type: string
        - name: keyword
          in: query
          description: Filter issues by project keyword
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: pagination page number
          required: false
          schema:
            type: integer
        - name: per_page
          in: query
          description: Number of records to return
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          description: The field to sort by
          required: false
          schema:
            type: string
            enum: [created_at, updated_at, stars]
        - name: order
          in: query
          description: The sort order (asc or desc)
          required: false
          schema:
            type: string
            enum: [asc, desc]
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Issue"
components:
  headers:
    ResearchOrganizationTotalCount:
      description: Total matching records.
      schema:
        type: integer
        minimum: 0
    ResearchOrganizationCurrentPage:
      description: Current page number.
      schema:
        type: integer
        minimum: 1
    ResearchOrganizationPageItems:
      description: Configured records per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
    ResearchOrganizationTotalPages:
      description: Total pages.
      schema:
        type: integer
        minimum: 0
    ResearchOrganizationLink:
      description: Pagination links.
      schema:
        type: string
  responses:
    ResearchOrganizationInvalidParameters:
      description: Invalid query parameters
      content:
        application/json:
          schema:
            type: object
            required:
            - error
            properties:
              error:
                type: string
  parameters:
    ResearchOrganizationPage:
      name: page
      in: query
      description: Page number. Out-of-range pages return an empty array.
      schema:
        type: integer
        minimum: 1
        default: 1
    ResearchOrganizationPerPage:
      name: per_page
      in: query
      description: Records per page. Values greater than 100 are capped at 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    ResearchOrganizationId:
      name: id
      in: path
      description: Short ROR identifier.
      schema:
        type: string
        pattern: "^0[a-z0-9]{6}[0-9]{2}$"
        example: 00za53h95
      required: true
    ResearchOrganizationIncludeDescendants:
      name: include_descendants
      in: query
      description: Include current ROR child institutions recursively. Accounts, projects
        and packages are counted once. Only true and false are accepted.
      schema:
        type: boolean
        default: false
    SoftwareLimit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 25
        default: 10
    SoftwareAfterId:
      name: after_id
      in: query
      description: Project ID cursor returned as next_after_id. Keep the same query and kind while paging.
      schema:
        type: integer
        minimum: 0
        default: 0
  schemas:
    ResearchOrganization:
      type: object
      required:
      - id
      - ror_id
      - name
      - names
      - status
      - countries
      - source
      - html_url
      - api_url
      properties:
        id:
          type: string
        ror_id:
          type: string
          format: uri
        name:
          type: string
          nullable: true
        names:
          type: array
          items:
            type: object
            required:
            - value
            - types
            properties:
              value:
                type: string
              types:
                type: array
                items:
                  type: string
              lang:
                type: string
                nullable: true
        status:
          type: string
          enum:
          - active
          - inactive
          - withdrawn
        countries:
          type: array
          items:
            type: object
            required:
            - code
            - name
            properties:
              code:
                type: string
              name:
                type: string
                nullable: true
        source:
          type: object
          required:
          - version
          - retrieved_at
          - current
          - backfill_complete
          properties:
            version:
              type: string
            retrieved_at:
              type: string
              format: date-time
            current:
              type: boolean
            backfill_complete:
              type: boolean
        html_url:
          type: string
          format: uri
        api_url:
          type: string
          format: uri
    ResearchOrganizationSummary:
      allOf:
      - "$ref": "#/components/schemas/ResearchOrganization"
      - type: object
        required:
        - linked_accounts_count
        properties:
          linked_accounts_count:
            type: integer
            minimum: 0
    ResearchOrganizationProfile:
      allOf:
      - "$ref": "#/components/schemas/ResearchOrganization"
      - type: object
        required:
        - metadata
        - include_descendants
        - counts
        - coverage
        - links
        properties:
          metadata:
            type: object
            additionalProperties: true
            description: Full preserved ROR record, including locations, external IDs,
              website links and typed relationships.
          include_descendants:
            type: boolean
          counts:
            type: object
            required:
            - organizations
            - accounts
            - scientific_projects
            - packages
            - ambiguous_accounts
            properties:
              organizations:
                type: integer
                minimum: 0
              accounts:
                type: integer
                minimum: 0
              scientific_projects:
                type: integer
                minimum: 0
              packages:
                type: integer
                minimum: 0
              ambiguous_accounts:
                type: integer
                minimum: 0
          coverage:
            type: object
            required:
            - relationship
            - science_score_threshold
            - ambiguous_links_included
            - description
            properties:
              relationship:
                type: string
                enum:
                - repository_owner
              science_score_threshold:
                type: number
                example: 20
              ambiguous_links_included:
                type: boolean
              description:
                type: string
          links:
            type: object
            required:
            - owners
            - projects
            - packages
            properties:
              owners:
                type: string
                format: uri
              projects:
                type: string
                format: uri
              packages:
                type: string
                format: uri
    ResearchOrganizationAccount:
      type: object
      required:
      - id
      - login
      - name
      - kind
      - website
      - host
      - html_url
      - scientific_projects_count
      - organization_matches
      properties:
        id:
          type: integer
          minimum: 0
        login:
          type: string
        name:
          type: string
          nullable: true
        kind:
          type: string
          nullable: true
        website:
          type: string
          nullable: true
        host:
          type: string
        html_url:
          type: string
          format: uri
        scientific_projects_count:
          type: integer
          minimum: 0
        organization_matches:
          type: array
          items:
            type: object
            required:
            - ror_id
            - source
            - relationship
            - match_method
            - match_status
            - evidence
            - observed_at
            properties:
              ror_id:
                type: string
                format: uri
              source:
                type: string
                enum:
                - ror
                - manual
              relationship:
                type: string
                enum:
                - repository_owner
              match_method:
                type: string
                description: Exact ROR forge account URLs use ror_forge_url. Manual links retain priority; conflicting automatic evidence remains ambiguous and is excluded from this endpoint.
                enum: [ror_domain, ror_website, ror_forge_url, manual]
              match_status:
                type: string
                enum:
                - matched
              evidence:
                type: object
                additionalProperties: true
                description: Matching inputs and ROR source provenance. Forge matches record the host, owner login and exact source URLs.
                properties:
                  host:
                    type: string
                    example: github.com
                  owner_login:
                    type: string
                    example: CICE-Consortium
                  matched_urls:
                    type: array
                    items:
                      type: string
                      format: uri
                    example: [https://github.com/CICE-Consortium]
                  ror_id:
                    type: string
                    format: uri
                  source_version:
                    type: string
                  retrieved_at:
                    type: string
                    format: date-time
              observed_at:
                type: string
                format: date-time
    ResearchOrganizationPackage:
      type: object
      required:
      - id
      - name
      - purl
      - namespace
      - registry
      - published_by_project
      properties:
        id:
          type: integer
          minimum: 0
        name:
          type: string
        purl:
          type: string
          nullable: true
        namespace:
          type: string
          nullable: true
        registry:
          type: object
          required:
          - name
          - ecosystem
          properties:
            name:
              type: string
            ecosystem:
              type: string
        published_by_project:
          type: object
          required:
          - id
          - repository_url
          - api_url
          - html_url
          properties:
            id:
              type: integer
              minimum: 0
            repository_url:
              type: string
              format: uri
            api_url:
              type: string
              format: uri
            html_url:
              type: string
              format: uri
    SoftwareResults:
      type: object
      required: [query, kind, match, next_after_id, projects]
      properties:
        query:
          type: string
        kind:
          type: string
          enum: [name, doi, repository_url, homepage_url, purl]
        match:
          type: string
          enum: [exact, contains]
        next_after_id:
          type: integer
          nullable: true
          description: Null when finished. A live page can be empty with a non-null cursor if its indexed candidates no longer match current metadata.
        projects:
          type: array
          items:
            allOf:
              - $ref: "#/components/schemas/ProjectSearchSeeds"
              - type: object
                required: [indexed_at]
                properties:
                  indexed_at:
                    type: string
                    format: date-time
                    description: Time the project's normalized search fields were refreshed
    ContextEvidence:
      type: object
      required: [value, source]
      properties:
        value:
          type: string
          description: Trimmed source text, with original case preserved
        source:
          type: string
          description: Stored metadata field supplying this value
    ProjectSearchContext:
      type: object
      required: [project_id, repository_url, updated_at, last_synced_at, descriptions, languages, packages, dependencies_indexed_at, direct_dependencies]
      properties:
        project_id:
          type: integer
        repository_url:
          type: string
        updated_at:
          type: string
          format: date-time
        last_synced_at:
          type: string
          format: date-time
          nullable: true
        descriptions:
          type: array
          items:
            $ref: "#/components/schemas/ContextEvidence"
        languages:
          type: array
          items:
            $ref: "#/components/schemas/ContextEvidence"
        packages:
          type: array
          description: >-
            Packages published by this project, grouped using the search-seed identity
            rules. Descriptions and languages belong to each package. A project-level
            dependency is not evidence that every package in this list depends on it.
          items:
            type: object
            required: [package_id, purl, registry, ecosystem, names, descriptions, languages]
            properties:
              package_id:
                type: integer
                nullable: true
              purl:
                type: string
                nullable: true
              registry:
                type: string
                nullable: true
              ecosystem:
                type: string
                nullable: true
              names:
                type: array
                items:
                  $ref: "#/components/schemas/ContextEvidence"
              descriptions:
                type: array
                items:
                  $ref: "#/components/schemas/ContextEvidence"
              languages:
                type: array
                items:
                  $ref: "#/components/schemas/ContextEvidence"
        dependencies_indexed_at:
          type: string
          format: date-time
          nullable: true
          description: Last dependency indexing time; null means indexing has not completed
        direct_dependencies:
          type: array
          description: Stored direct dependency records, including unresolved package identities
          items:
            type: object
            required: [dependency_id, package_id, name, ecosystem, purl, source, occurrences, updated_at]
            properties:
              dependency_id:
                type: integer
              package_id:
                type: integer
                nullable: true
              name:
                type: string
              ecosystem:
                type: string
              purl:
                type: string
                nullable: true
              source:
                type: string
                nullable: true
                description: Recorded dependency source, such as repos_manifests or brief
              updated_at:
                type: string
                format: date-time
              occurrences:
                type: array
                items:
                  type: object
                  properties:
                    filepath:
                      type: string
                    manifest_kind:
                      type: string
                    requirements:
                      type: string
                    kind:
                      type: string
                    optional:
                      type: boolean
    SearchSeed:
      type: object
      required: [type, value, normalized_value, source, relation]
      properties:
        type:
          type: string
          enum: [name, repository_url, homepage_url, doi]
        value:
          type: string
          description: Trimmed source value, or the DOI extracted from a source identifier
        normalized_value:
          type: string
          description: >-
            Names use Unicode NFC and lowercase without stemming or punctuation removal.
            DOIs are lowercase. URL schemes and hosts are lowercase; path case is preserved.
            Repository history URLs may already be normalized by the alias index.
        source:
          type: string
          description: Stored metadata field, for example citation_cff.preferred-citation.doi
        relation:
          type: string
          enum: [software, publication, preferred_citation, citation, reference]
          description: >-
            Relationship asserted by the source metadata, not verified evidence of a paper
            using the software. Preferred citations and BibTeX citations are kept distinct
            because they may describe software, a publication, or another resource.
    ProjectSearchSeeds:
      type: object
      required: [project_id, repository_url, science_score, updated_at, last_synced_at, seeds, packages]
      properties:
        project_id:
          type: integer
        repository_url:
          type: string
        science_score:
          type: number
        updated_at:
          type: string
          format: date-time
        last_synced_at:
          type: string
          format: date-time
          nullable: true
        seeds:
          type: array
          items:
            $ref: "#/components/schemas/SearchSeed"
        packages:
          type: array
          description: >-
            Linked registry packages and unmatched package metadata stored on the project.
            Identical names may belong to different packages or projects. Dependencies
            and incidental README references are not included as software identities.
          items:
            type: object
            required: [package_id, purl, registry, ecosystem, seeds]
            properties:
              package_id:
                type: integer
                nullable: true
                description: Local package ID; null for unmatched project package metadata
              purl:
                type: string
                nullable: true
                description: Package URL without version or subpath, when available and valid
              registry:
                type: string
                nullable: true
              ecosystem:
                type: string
                nullable: true
              seeds:
                type: array
                items:
                  $ref: "#/components/schemas/SearchSeed"
    Package:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        namespace:
          type: string
          nullable: true
        purl:
          type: string
          nullable: true
        repository_url:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        registry:
          type: object
          properties:
            name:
              type: string
            ecosystem:
              type: string
        scientific_projects_count:
          type: integer
        dependent_repositories_count:
          type: integer
          nullable: true
        dependent_repositories_top_percentage:
          type: number
          nullable: true
          description: Top percentage within the package registry; smaller values indicate greater general popularity
        average_top_percentage:
          type: number
          nullable: true
          description: Average top percentage across the available packages.ecosyste.ms rankings
        science_relevance_top_percentage:
          type: number
          nullable: true
          description: Ranking percentage used by the science relevance score after handling inconsistent upstream averages
        repository_science_score:
          type: number
          nullable: true
          description: Science Score of the project matched to the package repository
        science_relevance_score:
          type: number
          nullable: true
          description: Scientific project count weighted from 10% to 100% by package popularity, then boosted by up to 2x using linked repository Science Score
        science_usage_percentage:
          type: number
          nullable: true
          description: Scientific project count as a percentage of known dependent repositories
        rankings:
          type: object
        published_by_project:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string
              nullable: true
            repository_url:
              type: string
            api_url:
              type: string
            html_url:
              type: string
    Project:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
        last_synced_at:
          type: string
          format: date-time
        repository:
          type: object
        owner:
          type: object
        packages:
          type: array
          items:
            type: object
        commits:
          type: object
        issues:
          type: object
        events:
          type: object
        keywords:
          type: array
          items:
            type: string
        dependencies:
          type: object
        score:
          type: number
        science_score:
          type: number
          nullable: true
          minimum: 0
          maximum: 100
        science_score_breakdown:
          type: object
          nullable: true
          description: Saved evidence used to calculate the Science Score
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        avatar_url:
          type: string
        language:
          type: string
        category:
          type: string
        sub_category:
          type: string
        monthly_downloads:
          type: integer
        readme:
          type: string
        funding_links:
          type: array
          items:
            type: string
        readme_doi_urls:
          type: array
          items:
            type: string
        works:
          type: object
        citation_counts:
          type: object
        total_citations:
          type: integer
        keywords_from_contributors:
          type: array
          items:
            type: string
        fields:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              domain:
                type: string
              score:
                type: number
    Issue:
      type: object
      properties:
        uuid:
          type: integer
        number:
          type: integer
        node_id:
          type: string
        title:
          type: string
        user:
          type: string
        labels:
          type: array
          items:
            type: string
        assignees:
          type: array
          items:
            type: string
        comments_count:
          type: integer
        pull_request:
          type: boolean
        author_association:
          type: string
        state:
          type: string
        state_reason:
          type: string
        time_to_close:
          type: integer
        merged_at:
          type: string
          format: date-time
        dependency_metadata:
          type: object
        locked:
          type: boolean
        comments:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        closed_at:
          type: string
          format: date-time
        html_url:
          type: string
        url:
          type: string
    Image:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        url:
          type: string
        last_synced_at:
          type: string
          format: date-time
        repository:
          type: object
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        avatar_url:
          type: string
        category:
          type: string
        sub_category:
          type: string
        monthly_downloads:
          type: integer
        language:
          type: string
        has_new_issues:
          type: boolean
        readme_image_urls:
          type: array
          items:
            type: string
