<% @meta_title = "Propose a New Project" %>
<% @meta_description = "Submit a scientific software project for analysis. Add your research software, computational tool, or open source science project to our database." %>

<div class="container-md">
  <h2>
    Propose a new project
  </h2>

  <%= render 'form' %>
</div>
